@model LF_repaso_DSWI_rq.Models.tb_clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idpais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idpais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdCliente  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
