@model IEnumerable<LF_repaso_DSWI_rq.Models.tb_clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idpais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idpais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdCliente  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IdCliente  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdCliente  })
        </td>
    </tr>
}

</table>

<!--seccion de los numeros de la paginacion-->
<div>
    @for (int i = 0; i < (int)ViewBag.numreg; i++)
    {
        @Html.ActionLink((i + 1).ToString(), "Index", new { pag = i },
         new { @class = "btn btn-primary" });
    }
</div>